# Dependencies
frontend/node_modules/
backend/node_modules/

# Environment files
frontend/.env
backend/.env
frontend/.env.*
backend/.env.*

# Build
frontend/dist/

# Logs
*.log

# Uploads
backend/uploads/

# Editor
.vscode/
.DS_Store